@use '../variables/index.scss' as *;
@import 'responsive';

@mixin generate-text-classes($text-sizes) {
  @each $key-size, $value-size in $text-sizes {
    .text-#{$key-size} {
      font-size: $value-size;
    }
    @each $key, $value in $breakpoints {
      .text-#{$key}-#{$key-size} {
        @include responsive($key, $breakpoints) {
          font-size: $value-size;
        }
      }
    }
    @each $key, $value in $breakpoints-with-max {
      .text-only-#{$key}-#{$key-size} {
        @include responsive($key, $breakpoints-with-max) {
          font-size: $value-size;
        }
      }
    }
    @each $key, $value in $breakpoints-only-max {
      .text-max-#{$key}-#{$key-size} {
        @include responsive($key, $breakpoints-only-max) {
          font-size: $value-size;
        }
      }
    }
  }
}

@mixin h1() {
  @include h2;

  @include responsive(lg) {
    font-size: var(--font-size--h1);
    line-height: 1.2;
    letter-spacing: 3px;
  }
}

@mixin h2() {
  font-size: 50px;
  line-height: 1.05;
  letter-spacing: 2px;

  @include responsive(lg) {
    font-size: var(--font-size--h2);
    line-height: 1.23;
    letter-spacing: 3.2px;
  }
}

@mixin text-desk-mob-16($font-weight: 400) {
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 1.6;
}

@mixin truncate($lines: 3, $truncation-boundary: 100%, $display: -webkit-box) {
  max-width: $truncation-boundary;
  display: $display;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
